.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

ul {
  list-style: none;
}

li {
  padding: 10px;
  border-bottom: 1px solid #efefef;
  text-align: left;
}

.UserInfo {
  min-height: 100px;
}

.UserInfo p {
  float:left;
  padding:0 0 0 10px;
  margin:0px;
}

.UserInfo img {
  border-radius: 10px;
}

